@font-face {
    font-family: 'Android';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format(opentype);
}



:root{
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}



body{
    font-family: var(--fonte0);
    color: var(--cor0);
    background-color: var(--cor1);
}

/*Cabeçalho inicial*/

header{
    background-image: linear-gradient(to top, var(--cor5), var(--cor2));
    text-align: center;
    text-shadow: 3px 3px 4px black;
    padding: 3em;
    
}

nav{
    background-color: #063d1e;
    align-items: start;
    padding: 10px;
}

ul.menu{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    
}

li.menu{
    color: white;
    position: relative;
}

.menu li a{
    color: white;
    padding: 5px;
    text-decoration: none;
}

.menu li a:hover{
    color: var(--cor5);
    transition: 1s;
    background-color: var(--cor0);
    font-weight: bold;
    border-radius: 25%;
}

.menu li ul{
    position: absolute;
    top: 25px;
    left: 0;
    list-style: none;
    background-color: var(--cor5);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0s linear 1s;
}

.menu li:hover > ul{
    opacity: 1;
    visibility: visible;
    transition: 0s;

}

.menu li ul li{
    border: 1px solid lightgrey;
    display: flex;
    color: var(--cor3);
}

/*Inicio do projeto*/

h1{
    text-align: start;
    padding: 3px;
    margin: 7px;
    font-family: var(--fonte2);
    color: var(--cor4);
}

h1#cabecalho{
    font-family: var(--fonte1);
    font-size: 45px;
    text-align: center;  
    color: white;
}

h2{
    text-align: start;
    padding: 3px;
    margin: 7px;
    font-family: var(--fonte2);
    /*background-color: var(--cor0);*/
    background-image: linear-gradient(to right, var(--cor0), #c5ebd600);
    color: var(--cor4);
}

article{
    background-color: white; 
    display: block;
    padding: 5em;
    margin: 0em 6em;
    text-align: center;
}

strong{
    color: var(--cor4);
}

a{
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
}

p a::after{
    content: " 🔗";
    margin-left: 2px;
}

p a:hover{
   transition: 2s;
   color: var(--cor2); 
   text-decoration: solid underline;
}

p{
    text-align:start;
    color: black;
    padding: 10px;
    text-indent: 30px;
}

p::before{
    margin-right: 8px;
}

ul.curiosidade{
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    columns: 2;
    padding-left: 20px;
}

li.fato{
    color: black;
    display: flex;
}

li.fato::before{
    content: "✔";
    margin-right: 8px;
}

aside#curiosidade{
    background-color: var(--cor0);
    display: block;
    text-align: start;
    border-radius: 20px;
    
}

h3{
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}

/*Footer do site*/

footer{
    background-color: var(--cor5);
    text-align: center;
}